.travel__cta {
    display: flex;
}
.travel__cta-content {
    flex: 1 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #42A7C3;
    opacity: 0.9;
    border-radius: 15px;
}
.travel__cta-content__heading h1 {
    font-weight: 700;
    font-size: 45px;
    line-height: 58px;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    padding: 10px;
    font-family: var(--font-family);
    color: white;
}
.travel__cta-content__heading h3 {
    color: white;
    padding: 10px;
    font-weight: 400;
    font-size: 25px;
    line-height: 34px;
    font-family: var(--font-family);
}
.travel__cta-map img {
    width: 52vw;
    height: 54vh;
}
.travel__cta-button {
    width: 120px;
    height: 40px;
    padding: 3px 6px;
    font-weight: 600;
    font-size: 17px;
    line-height: 18px;
    letter-spacing: 0.03em;
    font-family: var(--font-family);
    background-color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-right: 10px;
}
@media screen and (max-width:1225px) {
    .travel__cta-content__heading h1 {
        font-size: 40px;
        padding: 10px;
        line-height: 48px;
    }
    .travel__cta-content__heading h3 {
        padding: 10px;
    }
    .travel__cta-button {
        width: 100px;
        height: 35px;
        font-size: 15px;
    }
}
@media screen and (max-width:1050px) {
    .travel__cta-content__heading h1 {
        font-size: 30px;
        line-height: 42px;
    }
    .travel__cta-content__heading h3 {
        line-height: 28px;
        font-size: 22px;
    }
    .travel__cta-button {
        width: 100px;
        height: 30px;
        font-size: 16px;
    }
    .travel__cta-map img {
        width: 44vw;
        height: 42vh;
    }
}
@media screen and (max-width:800px) {
    .travel__cta-content {
        flex-direction: column;
        justify-content: center;
        align-items: center
    }
    .travel__cta-content__heading {
        width: 100%;
    }
    .travel__cta-content__heading h1 {
        font-size: 32px;
        margin: 10px;
        padding: 0;
    }
    .travel__cta-button {
        margin-bottom: 10px;
    }
    .travel__cta-map img {
        width: 75vw;
        height: 55vh;
    }
}
@media screen and (max-width:450px) {
    .travel__cta-content__heading h1 {
        font-size: 25px;
    }
    .travel__cta-content__heading h3 {
        font-size: 16px;
    }
    .travel__cta-map img {
        height: 40vh;
    }
}