* {
    padding-bottom: 0;
}
.travel__footer-content__upperimage {
    display: flex;
    justify-content: center;
}
.travel__footer-content__upperimage img {
    position: relative;
    width: 86vw;
    /* height: 100%; */
    top: 90px;
    z-index: 1;
}
.travel__footer-content__footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.travel__footer-content__footer img {
    height: 100%;
    width: 100%;
    position: relative;
    top: 20px;
}